# Core dependencies
streamlit==1.32.0
numpy==1.26.4
scikit-learn == 1.7.1
joblib == 1.5.1
# Machine Learning
tensorflow==2.15.0
scikit-learn==1.4.0
joblib==1.3.2

# Optional - for better performance
protobuf==3.20.3